/* CRASH COURSE SPECIFIC CSS */

.crash-course-body h2{
    margin-top: 20px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-radius: 10px;
    background: rgb(27, 27, 27);
    color: white;
    padding: 20px;
    margin: 40px 0;
}
.crash-course-body img {
    width: 100%;
    height: auto;
}
pre {
    color: #e83e8c;
}
.jumbotron {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-attachment: fixed;
    background-image: url(../images/undraw_coding.svg);
    margin: 0;
    padding-top: 200px;
    padding-bottom: 150px;
}
.jumbotron h1 {
    background: black !important;
    color: white;
    opacity: 0.9 !important;
}

ul {
    list-style-type: circle;
}