.btn {
  font-family: "Poppins";
  font-weight: 600 !important;
}

.btn-light {
  border: 1px solid #b4b4b4 !important;
  -webkit-transition-duration: 0.2s !important;
          transition-duration: 0.2s !important;
}

.btn-light:hover {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background: #454F5B !important;
  color: white;
}

.btn-light:active {
  border: none;
}

.navbar-toggler {
  padding: 10px;
  border: none !important;
  background-color: transparent !important;
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.navbar-toggler:focus {
  outline: 0;
}

form input {
  margin-left: 5px;
  margin-right: 5px;
}

.navbar {
  font-weight: 400;
}

.navbar .nav-item {
  font-family: "Poppins";
  font-weight: 600;
  margin: 5px;
}

.navbar .nav-item .nav-link {
  margin-right: 10px;
  padding: 10px 15px;
  margin: 0;
  width: 100%;
  /* Bounce To Top animation from hover.css*/
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.navbar .nav-item .nav-link:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border-radius: 10px 10px 0 0;
}

.navbar .nav-item .nav-link:hover {
  color: white !important;
}

.navbar .nav-item .nav-link:hover:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.navbar .nav-item:nth-of-type(1) .nav-link {
  color: #0c9f64;
}

.navbar .nav-item:nth-of-type(1) .nav-link:before {
  background-color: #0c9f64;
}

.navbar .nav-item:nth-of-type(2) .nav-link {
  color: #e0e000;
  color: #FF715B;
}

.navbar .nav-item:nth-of-type(2) .nav-link:before {
  background-color: #FF715B;
}

.navbar .nav-item:nth-of-type(4) .nav-link {
  color: #2e82ff;
}

.navbar .nav-item:nth-of-type(4) .nav-link:before {
  background-color: #2e82ff;
}

.navbar .nav-item:nth-of-type(5) .nav-link {
  color: #e2b543;
}

.navbar .nav-item:nth-of-type(5) .nav-link:before {
  background-color: #e2b543;
}

.hamburger {
  position: absolute;
  right: 10px;
  top: 10px;
}

/*nav color change on scroll*/
#navbar-wrapper.scrolled {
  background-color: rgba(255, 255, 255, 0.95) !important;
  -webkit-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins";
}

.rounded {
  border-radius: 10px !important;
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 0px;
  margin-bottom: 30px;
  overflow: hidden;
}

section h2 {
  font-family: "Poppins";
  font-weight: 700;
}

section h3 {
  font-weight: 300;
}

section h4 {
  font-family: "Poppins";
  font-weight: 700;
}

section h5 {
  font-family: "Poppins";
  font-weight: 700;
}

section:nth-of-type(2) h4 {
  color: #0c9f64;
}

section:nth-of-type(3) h4 {
  color: #FF715B;
}

section:nth-of-type(4) h4 {
  color: #2e82ff;
}

section:nth-of-type(5) h4 {
  color: #e2b543;
}

p, .container li {
  font-family: "Inter";
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.8rem;
  color: #454F5B;
}

ul {
  list-style: none;
}

.container ul {
  list-style: circle;
}

.badge-success {
  background: #0c9f64;
}

.fa {
  font-size: 18px;
}

.jumbotron {
  background: white;
  padding-top: 10rem;
  padding-bottom: 0px;
}

.jumbotron .fa {
  font-size: 20px;
}

.jumbotron h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 2.8rem;
  font-family: "Poppins";
  margin-bottom: 30px;
  color: #0e1013;
}

.jumbotron p {
  color: #454F5B;
  font-size: 1.2rem;
  font-weight: 500;
  max-width: 90%;
}

#mission p {
  max-width: 50ch;
}

#bounce-arrow:hover {
  color: white !important;
  background-color: #0c9f64 !important;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.blanket {
  margin-bottom: -10vh;
  height: 50vh;
}

.bg-black {
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  background-attachment: fixed;
  background-image: url(../images/stmarysfront.jpg);
}

.jumbo-card-white {
  background: white;
  border-radius: 1rem;
  padding: 3rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.uni-logo {
  height: auto;
  width: 7rem;
}

.smcc-logo {
  border-radius: 5px;
}

.profile-wrapper:nth-of-type(even) .profile-overlay {
  background-color: #0c9f64;
}

.profile-wrapper:nth-of-type(odd) .profile-overlay {
  background-color: #FAB617;
}

.profile-card {
  border-radius: 0 0 20px 20px;
  background: transparent;
  padding: 1rem;
  margin: 10px auto;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  background: #ffffff;
  -webkit-box-shadow: 20px 20px 40px #dbdbdb, 0 -0 0 #ffffff;
          box-shadow: 20px 20px 40px #dbdbdb, 0 -0 0 #ffffff;
}

.profile-card .portrait {
  border: 5px solid white;
  border-radius: 50%;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  width: 70%;
  height: auto;
  margin-bottom: 3rem !important;
}

.profile-card:hover .profile-overlay {
  top: 0;
  border-radius: 0 0 20px 20px;
}

.profile-card .profile-overlay {
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 101%;
  -webkit-transition: .2s;
  transition: .2s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  border-radius: 0;
  opacity: 0.95;
  color: white;
  font-family: "Inter";
  font-weight: 600;
  font-size: 1rem;
}

.profile-card .profile-overlay .year {
  font-weight: 300;
  background: white;
  color: black;
  position: absolute;
  bottom: 1.5rem;
  width: 100%;
  font-size: 0.9rem;
  opacity: 0.9;
}

.profile-card .profile-overlay img {
  width: 50%;
  height: auto;
}

.profile-card .profile-overlay .text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

footer {
  border-radius: 1rem 1rem 0 0;
  background: white;
  padding-top: 1rem;
}

@media (min-width: 992px) {
  body {
    font-size: 18px;
  }
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 0px;
  }
  .jumbotron .fa {
    font-size: 20px;
  }
  .jumbotron h1 {
    font-size: 5rem;
    font-weight: 700;
    line-height: 5rem;
    font-family: "Poppins";
    margin-bottom: 30px;
    color: #0e1013;
  }
  .jumbotron p {
    color: #454F5B;
    font-size: 1.2rem;
    font-weight: 500;
  }
}

.bg-learn {
  background: #0c9f64;
}

.bg-create {
  background: #FF715B;
}

.bg-belong {
  background: #2e82ff;
}

.bg-news {
  background: #e2b543;
}

.subpage section:nth-of-type(odd) h4 {
  color: #0c9f64;
}

.subpage section:nth-of-type(even) h4 {
  color: #FAB617;
}

#container {
  width: 200px;
  height: 200px;
  margin: 10px auto;
  position: relative;
  border-radius: 50%;
  -webkit-animation: spin 10s linear infinite;
          animation: spin 10s linear infinite;
}

.item {
  text-align: center;
  border-radius: 50%;
  position: absolute;
  animation: spin 10s linear infinite reverse;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

.accordion {
  cursor: pointer;
  padding: 12px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #454F5B !important;
  color: white !important;
}

.active:after, .accordion:hover:after {
  color: white !important;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
  color: white;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.panel p {
  font-size: 0.9rem;
  padding: 20px;
}

.fa-thumb-tack {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.quiet {
  letter-spacing: 20px;
  text-transform: uppercase;
  font-weight: 300 !important;
  font-family: "Poppins";
  font-size: 1rem !important;
  font-style: italic;
}

.project-showcase-video {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}

/* Our mixin positions a copy of our text
directly on our existing text, while
also setting content to the appropriate
text set in the data-text attribute. */
.glitch {
  position: relative;
  color: white;
  font-size: 4em;
  letter-spacing: .5em;
  /* Animation provies a slight random skew. Check bottom of doc
for more information on how to random skew. */
  animation: glitch-skew 1s infinite linear alternate-reverse;
}

.glitch::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #2e82ff;
  /* Creates an initial clip for our glitch. This works in
    a typical top,right,bottom,left fashion and creates a mask
    to only show a certain part of the glitch at a time. */
  clip: rect(44px, 450px, 56px, 0);
  /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
    with an alternating animation to keep things fresh. */
  animation: glitch-anim 5s infinite linear alternate-reverse;
}

.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #FF715B, 2px 2px #2e82ff;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

/* Creates an animation with 20 steaps. For each step, it calculates 
a percentage for the specific step. It then generates a random clip
box to be used for the random glitch effect. Also adds a very subtle
skew to change the 'thickness' of the glitch.*/
@-webkit-keyframes glitch-anim {
  0% {
    clip: rect(39px, 9999px, 32px, 0);
    -webkit-transform: skew(0.01deg);
            transform: skew(0.01deg);
  }
  5% {
    clip: rect(78px, 9999px, 85px, 0);
    -webkit-transform: skew(0.9deg);
            transform: skew(0.9deg);
  }
  10% {
    clip: rect(22px, 9999px, 45px, 0);
    -webkit-transform: skew(0.99deg);
            transform: skew(0.99deg);
  }
  15% {
    clip: rect(62px, 9999px, 56px, 0);
    -webkit-transform: skew(0.08deg);
            transform: skew(0.08deg);
  }
  20% {
    clip: rect(43px, 9999px, 1px, 0);
    -webkit-transform: skew(0.68deg);
            transform: skew(0.68deg);
  }
  25% {
    clip: rect(30px, 9999px, 34px, 0);
    -webkit-transform: skew(0.9deg);
            transform: skew(0.9deg);
  }
  30% {
    clip: rect(11px, 9999px, 94px, 0);
    -webkit-transform: skew(0.91deg);
            transform: skew(0.91deg);
  }
  35% {
    clip: rect(38px, 9999px, 74px, 0);
    -webkit-transform: skew(0.76deg);
            transform: skew(0.76deg);
  }
  40% {
    clip: rect(12px, 9999px, 82px, 0);
    -webkit-transform: skew(0.09deg);
            transform: skew(0.09deg);
  }
  45% {
    clip: rect(100px, 9999px, 8px, 0);
    -webkit-transform: skew(0.43deg);
            transform: skew(0.43deg);
  }
  50% {
    clip: rect(7px, 9999px, 2px, 0);
    -webkit-transform: skew(0.99deg);
            transform: skew(0.99deg);
  }
  55% {
    clip: rect(51px, 9999px, 75px, 0);
    -webkit-transform: skew(0.64deg);
            transform: skew(0.64deg);
  }
  60% {
    clip: rect(54px, 9999px, 42px, 0);
    -webkit-transform: skew(0.41deg);
            transform: skew(0.41deg);
  }
  65% {
    clip: rect(20px, 9999px, 21px, 0);
    -webkit-transform: skew(0.18deg);
            transform: skew(0.18deg);
  }
  70% {
    clip: rect(9px, 9999px, 92px, 0);
    -webkit-transform: skew(0.26deg);
            transform: skew(0.26deg);
  }
  75% {
    clip: rect(51px, 9999px, 66px, 0);
    -webkit-transform: skew(0.84deg);
            transform: skew(0.84deg);
  }
  80% {
    clip: rect(35px, 9999px, 54px, 0);
    -webkit-transform: skew(0.4deg);
            transform: skew(0.4deg);
  }
  85% {
    clip: rect(90px, 9999px, 68px, 0);
    -webkit-transform: skew(0.55deg);
            transform: skew(0.55deg);
  }
  90% {
    clip: rect(97px, 9999px, 6px, 0);
    -webkit-transform: skew(0.53deg);
            transform: skew(0.53deg);
  }
  95% {
    clip: rect(37px, 9999px, 5px, 0);
    -webkit-transform: skew(0.59deg);
            transform: skew(0.59deg);
  }
  100% {
    clip: rect(14px, 9999px, 31px, 0);
    -webkit-transform: skew(0.24deg);
            transform: skew(0.24deg);
  }
}
@keyframes glitch-anim {
  0% {
    clip: rect(39px, 9999px, 32px, 0);
    -webkit-transform: skew(0.01deg);
            transform: skew(0.01deg);
  }
  5% {
    clip: rect(78px, 9999px, 85px, 0);
    -webkit-transform: skew(0.9deg);
            transform: skew(0.9deg);
  }
  10% {
    clip: rect(22px, 9999px, 45px, 0);
    -webkit-transform: skew(0.99deg);
            transform: skew(0.99deg);
  }
  15% {
    clip: rect(62px, 9999px, 56px, 0);
    -webkit-transform: skew(0.08deg);
            transform: skew(0.08deg);
  }
  20% {
    clip: rect(43px, 9999px, 1px, 0);
    -webkit-transform: skew(0.68deg);
            transform: skew(0.68deg);
  }
  25% {
    clip: rect(30px, 9999px, 34px, 0);
    -webkit-transform: skew(0.9deg);
            transform: skew(0.9deg);
  }
  30% {
    clip: rect(11px, 9999px, 94px, 0);
    -webkit-transform: skew(0.91deg);
            transform: skew(0.91deg);
  }
  35% {
    clip: rect(38px, 9999px, 74px, 0);
    -webkit-transform: skew(0.76deg);
            transform: skew(0.76deg);
  }
  40% {
    clip: rect(12px, 9999px, 82px, 0);
    -webkit-transform: skew(0.09deg);
            transform: skew(0.09deg);
  }
  45% {
    clip: rect(100px, 9999px, 8px, 0);
    -webkit-transform: skew(0.43deg);
            transform: skew(0.43deg);
  }
  50% {
    clip: rect(7px, 9999px, 2px, 0);
    -webkit-transform: skew(0.99deg);
            transform: skew(0.99deg);
  }
  55% {
    clip: rect(51px, 9999px, 75px, 0);
    -webkit-transform: skew(0.64deg);
            transform: skew(0.64deg);
  }
  60% {
    clip: rect(54px, 9999px, 42px, 0);
    -webkit-transform: skew(0.41deg);
            transform: skew(0.41deg);
  }
  65% {
    clip: rect(20px, 9999px, 21px, 0);
    -webkit-transform: skew(0.18deg);
            transform: skew(0.18deg);
  }
  70% {
    clip: rect(9px, 9999px, 92px, 0);
    -webkit-transform: skew(0.26deg);
            transform: skew(0.26deg);
  }
  75% {
    clip: rect(51px, 9999px, 66px, 0);
    -webkit-transform: skew(0.84deg);
            transform: skew(0.84deg);
  }
  80% {
    clip: rect(35px, 9999px, 54px, 0);
    -webkit-transform: skew(0.4deg);
            transform: skew(0.4deg);
  }
  85% {
    clip: rect(90px, 9999px, 68px, 0);
    -webkit-transform: skew(0.55deg);
            transform: skew(0.55deg);
  }
  90% {
    clip: rect(97px, 9999px, 6px, 0);
    -webkit-transform: skew(0.53deg);
            transform: skew(0.53deg);
  }
  95% {
    clip: rect(37px, 9999px, 5px, 0);
    -webkit-transform: skew(0.59deg);
            transform: skew(0.59deg);
  }
  100% {
    clip: rect(14px, 9999px, 31px, 0);
    -webkit-transform: skew(0.24deg);
            transform: skew(0.24deg);
  }
}

@-webkit-keyframes glitch-anim2 {
  0% {
    clip: rect(21px, 9999px, 81px, 0);
    -webkit-transform: skew(0.77deg);
            transform: skew(0.77deg);
  }
  5% {
    clip: rect(76px, 9999px, 12px, 0);
    -webkit-transform: skew(0.26deg);
            transform: skew(0.26deg);
  }
  10% {
    clip: rect(68px, 9999px, 75px, 0);
    -webkit-transform: skew(0.85deg);
            transform: skew(0.85deg);
  }
  15% {
    clip: rect(1px, 9999px, 38px, 0);
    -webkit-transform: skew(0.51deg);
            transform: skew(0.51deg);
  }
  20% {
    clip: rect(53px, 9999px, 46px, 0);
    -webkit-transform: skew(0.57deg);
            transform: skew(0.57deg);
  }
  25% {
    clip: rect(95px, 9999px, 38px, 0);
    -webkit-transform: skew(0.86deg);
            transform: skew(0.86deg);
  }
  30% {
    clip: rect(59px, 9999px, 93px, 0);
    -webkit-transform: skew(0.58deg);
            transform: skew(0.58deg);
  }
  35% {
    clip: rect(12px, 9999px, 50px, 0);
    -webkit-transform: skew(0.17deg);
            transform: skew(0.17deg);
  }
  40% {
    clip: rect(65px, 9999px, 43px, 0);
    -webkit-transform: skew(0.11deg);
            transform: skew(0.11deg);
  }
  45% {
    clip: rect(81px, 9999px, 63px, 0);
    -webkit-transform: skew(0.64deg);
            transform: skew(0.64deg);
  }
  50% {
    clip: rect(57px, 9999px, 53px, 0);
    -webkit-transform: skew(0.63deg);
            transform: skew(0.63deg);
  }
  55% {
    clip: rect(75px, 9999px, 68px, 0);
    -webkit-transform: skew(0.03deg);
            transform: skew(0.03deg);
  }
  60% {
    clip: rect(4px, 9999px, 28px, 0);
    -webkit-transform: skew(0.05deg);
            transform: skew(0.05deg);
  }
  65% {
    clip: rect(36px, 9999px, 60px, 0);
    -webkit-transform: skew(0.21deg);
            transform: skew(0.21deg);
  }
  70% {
    clip: rect(77px, 9999px, 72px, 0);
    -webkit-transform: skew(0.71deg);
            transform: skew(0.71deg);
  }
  75% {
    clip: rect(35px, 9999px, 66px, 0);
    -webkit-transform: skew(0.73deg);
            transform: skew(0.73deg);
  }
  80% {
    clip: rect(79px, 9999px, 3px, 0);
    -webkit-transform: skew(0.29deg);
            transform: skew(0.29deg);
  }
  85% {
    clip: rect(58px, 9999px, 41px, 0);
    -webkit-transform: skew(0.26deg);
            transform: skew(0.26deg);
  }
  90% {
    clip: rect(71px, 9999px, 12px, 0);
    -webkit-transform: skew(0.41deg);
            transform: skew(0.41deg);
  }
  95% {
    clip: rect(81px, 9999px, 9px, 0);
    -webkit-transform: skew(0.84deg);
            transform: skew(0.84deg);
  }
  100% {
    clip: rect(7px, 9999px, 81px, 0);
    -webkit-transform: skew(0.45deg);
            transform: skew(0.45deg);
  }
}

@keyframes glitch-anim2 {
  0% {
    clip: rect(21px, 9999px, 81px, 0);
    -webkit-transform: skew(0.77deg);
            transform: skew(0.77deg);
  }
  5% {
    clip: rect(76px, 9999px, 12px, 0);
    -webkit-transform: skew(0.26deg);
            transform: skew(0.26deg);
  }
  10% {
    clip: rect(68px, 9999px, 75px, 0);
    -webkit-transform: skew(0.85deg);
            transform: skew(0.85deg);
  }
  15% {
    clip: rect(1px, 9999px, 38px, 0);
    -webkit-transform: skew(0.51deg);
            transform: skew(0.51deg);
  }
  20% {
    clip: rect(53px, 9999px, 46px, 0);
    -webkit-transform: skew(0.57deg);
            transform: skew(0.57deg);
  }
  25% {
    clip: rect(95px, 9999px, 38px, 0);
    -webkit-transform: skew(0.86deg);
            transform: skew(0.86deg);
  }
  30% {
    clip: rect(59px, 9999px, 93px, 0);
    -webkit-transform: skew(0.58deg);
            transform: skew(0.58deg);
  }
  35% {
    clip: rect(12px, 9999px, 50px, 0);
    -webkit-transform: skew(0.17deg);
            transform: skew(0.17deg);
  }
  40% {
    clip: rect(65px, 9999px, 43px, 0);
    -webkit-transform: skew(0.11deg);
            transform: skew(0.11deg);
  }
  45% {
    clip: rect(81px, 9999px, 63px, 0);
    -webkit-transform: skew(0.64deg);
            transform: skew(0.64deg);
  }
  50% {
    clip: rect(57px, 9999px, 53px, 0);
    -webkit-transform: skew(0.63deg);
            transform: skew(0.63deg);
  }
  55% {
    clip: rect(75px, 9999px, 68px, 0);
    -webkit-transform: skew(0.03deg);
            transform: skew(0.03deg);
  }
  60% {
    clip: rect(4px, 9999px, 28px, 0);
    -webkit-transform: skew(0.05deg);
            transform: skew(0.05deg);
  }
  65% {
    clip: rect(36px, 9999px, 60px, 0);
    -webkit-transform: skew(0.21deg);
            transform: skew(0.21deg);
  }
  70% {
    clip: rect(77px, 9999px, 72px, 0);
    -webkit-transform: skew(0.71deg);
            transform: skew(0.71deg);
  }
  75% {
    clip: rect(35px, 9999px, 66px, 0);
    -webkit-transform: skew(0.73deg);
            transform: skew(0.73deg);
  }
  80% {
    clip: rect(79px, 9999px, 3px, 0);
    -webkit-transform: skew(0.29deg);
            transform: skew(0.29deg);
  }
  85% {
    clip: rect(58px, 9999px, 41px, 0);
    -webkit-transform: skew(0.26deg);
            transform: skew(0.26deg);
  }
  90% {
    clip: rect(71px, 9999px, 12px, 0);
    -webkit-transform: skew(0.41deg);
            transform: skew(0.41deg);
  }
  95% {
    clip: rect(81px, 9999px, 9px, 0);
    -webkit-transform: skew(0.84deg);
            transform: skew(0.84deg);
  }
  100% {
    clip: rect(7px, 9999px, 81px, 0);
    -webkit-transform: skew(0.45deg);
            transform: skew(0.45deg);
  }
}

@-webkit-keyframes glitch-skew {
  0% {
    -webkit-transform: skew(-3deg);
            transform: skew(-3deg);
  }
  10% {
    -webkit-transform: skew(-4deg);
            transform: skew(-4deg);
  }
  20% {
    -webkit-transform: skew(-3deg);
            transform: skew(-3deg);
  }
  30% {
    -webkit-transform: skew(-4deg);
            transform: skew(-4deg);
  }
  40% {
    -webkit-transform: skew(3deg);
            transform: skew(3deg);
  }
  50% {
    -webkit-transform: skew(-4deg);
            transform: skew(-4deg);
  }
  60% {
    -webkit-transform: skew(3deg);
            transform: skew(3deg);
  }
  70% {
    -webkit-transform: skew(5deg);
            transform: skew(5deg);
  }
  80% {
    -webkit-transform: skew(2deg);
            transform: skew(2deg);
  }
  90% {
    -webkit-transform: skew(1deg);
            transform: skew(1deg);
  }
  100% {
    -webkit-transform: skew(2deg);
            transform: skew(2deg);
  }
}

@keyframes glitch-skew {
  0% {
    -webkit-transform: skew(-3deg);
            transform: skew(-3deg);
  }
  10% {
    -webkit-transform: skew(-4deg);
            transform: skew(-4deg);
  }
  20% {
    -webkit-transform: skew(-3deg);
            transform: skew(-3deg);
  }
  30% {
    -webkit-transform: skew(-4deg);
            transform: skew(-4deg);
  }
  40% {
    -webkit-transform: skew(3deg);
            transform: skew(3deg);
  }
  50% {
    -webkit-transform: skew(-4deg);
            transform: skew(-4deg);
  }
  60% {
    -webkit-transform: skew(3deg);
            transform: skew(3deg);
  }
  70% {
    -webkit-transform: skew(5deg);
            transform: skew(5deg);
  }
  80% {
    -webkit-transform: skew(2deg);
            transform: skew(2deg);
  }
  90% {
    -webkit-transform: skew(1deg);
            transform: skew(1deg);
  }
  100% {
    -webkit-transform: skew(2deg);
            transform: skew(2deg);
  }
}
/*# sourceMappingURL=main.css.map */