
// Text settings
$main-text-color: white;
$accent-color: rgb(3, 89, 50);

$body-font: 'Titillium Web';
$heading-font: 'IBM Plex Sans';
$sub-heading-font: 'Scope One';
// $sub-heading-font: 'Libre Franklin';